data_path: /home/patrick/github/data/autolamella/train2 # /home/patrick/github/data/liftout/active-learning/train/dm-embryo/images
label_path: /home/patrick/github/data/autolamella/train2/labels #/home/patrick/github/data/liftout/active-learning/train/dm-embryo/labels
save_path: /home/patrick/github/fibsem/fibsem/segmentation/models/autolamella
checkpoint: /home/patrick/github/fibsem/fibsem/segmentation/models/model4.pt #/home/patrick/github/fibsem/fibsem/segmentation/models/model4.pt
encoder: "resnet34" # Specify model architecture. List of available encoders in readme.
epochs: 20 # Number of epochs to train for
batch_size: 4 # Number of samples per batch
num_classes: 3 # Number of classes in segmentation labels. Includes background as class 0.
lr: 3.0e-4
wandb: true # Logs information and plots to wandb
wandb_project: "autolamella"
wandb_entity: "demarcolab"


