*.pyc
*.egg-info/*
.vscode/*
.coverage
*.code-workspace
*.log
scratch/test_image.tif
*.zarr/*

fibsem/wandb/*
fibsem/models/*
fibsem/models/05_09_2022_13_09_31_n01_model.pt
*.json
fibsem/segmentation/wandb/*
fibsem/segmentation/models/*
fibsem/segmentation/lucile_config.yml
fibsem/segmentation/lachie_config.yml
wandb/*

fibsem/segmentation/data/*
fibsem/segmentation/results/*
fibsem/segmentation/results*/*


site/*
fibsem\test.tif
fibsem/000000001.tiff

fibsem/test2.tif/label
fibsem/tests/label
tests/tests_images
fibsem/tests/label.tif
fibsem/tests/None.tif
fibsem/test_images/*.tif
