*.pyc
*.egg-info/*
.vscode/*
.coverage
*.code-workspace
*.log
scratch/test_image.tif
*.zarr/*

fibsem/wandb/*

*.json
fibsem/segmentation/wandb/*
fibsem/segmentation/models/*.pt*
wandb/*

build/*
fibsem/segmentation/training/*
scratch/training/*
fibsem/testing.ipynb
fibsem/_version.py
demo_*/*
scratch/figure/wd*/*
fibsem/log/data/*
test_images/test.tif

fibsem/detection/notebook.ipynb

media/*
.DS_Store
fibsem/segmentation/models/**/*.pt*
fibsem/segmentation/models/*
example/**/*.tif
example/demo/*
fibsem/chat/secret.txt

dist/*
scratch/tile-images/*
fibsem/log/*
fibsem/db/fibsem.db
fibsem/notebook.ipynb
scratch/health-monitor/*
example/notebook.ipynb
fibsem/segmentation/*config*.y*ml
!fibsem/segmentation/segementation_config.yaml

fibsem/config/*.yaml
!fibsem/config/microscope-configuration.yaml
!fibsem/config/user-configurations.yaml
!fibsem/config/tescan_manipulator.yaml

**/wandb/*
