*.pyc
*.egg-info/*
.vscode/*
.coverage
*.code-workspace
*.log
scratch/test_image.tif
*.zarr/*

fibsem/wandb/*
fibsem/models/*
*.json
fibsem/segmentation/wandb/*
fibsem/segmentation/models/*
wandb/*

fibsem/segmentation/data/*
fibsem/segmentation/results/*
fibsem/segmentation/results*/*


site/*
fibsem\test.tif
fibsem/000000001.tiff

fibsem/test2.tif/label
fibsem/tests/label
tests/tests_images
fibsem/tests/label.tif
fibsem/tests/None.tif
fibsem/test_images/*.tif

build/*
fibsem/segmentation/training/*
scratch/training/*
fibsem/testing.ipynb
fibsem/_version.py
demo_*/*
scratch/figure/wd*/*
fibsem/log/data/*
test_images/test.tif

fibsem/detection/notebook.ipynb
*.DS_Store
