# default protocol

name: fibsem
version: 0.1.0
description: protocol for fibsem


milling:
    milling_current: 2.e-9
    application_file: autolamella
    hfw: 150.0e-6
    spot_size: 5.0e-8
    rate: 3.0e-3
    dwell_time: 1.e-6
    preset: "30 keV; 2.5 nA" # TESCAN only

patterns:
  Rectangle:
    width: 10.0e-6
    height: 5.0e-6
    depth: 1.0e-6
    rotation: 0.0
    cleaning_cross_section: False
    scan_direction: "ToptoBottom"
    passes: 0 # means auto
  Line:
    start_x: -10.0e-6
    start_y: 0.0
    end_x: 10.0e-6
    end_y: 0
    depth: 1.0e-6 
  Circle:
    radius: 5.0e-6
    depth: 1.0e-6
    cleaning_cross_section: False
  Trench:
    lamella_width: 10.0e-6
    lamella_height: 5.0e-6
    trench_height: 5.0e-6
    offset: 1.0e-6
    size_ratio: 1.0
    depth: 2.0e-6
    cleaning_cross_section: false
  Horseshoe:
    lamella_width: 40.0e-6
    lamella_height: 10.0e-6
    trench_height: 10.0e-6
    offset: 1.0e-6
    size_ratio: 1.0
    side_width: 5.0e-6
    side_offset: 0.0
    depth: 10.0e-6
    scan_direction: TopToBottom
  HorseshoeVertical:
    depth: 4.0e-6
    height: 5.0e-05
    width: 2.0e-05
    scan_direction: TopToBottom
    side_trench_width: 5.0e-06
    top_trench_height: 10.0e-6
    inverted: False
  Undercut: 
    height: 10.0e-6
    width: 10.0e-6
    depth: 5.0e-6
    trench_width: 2.0e-6
    rhs_height: 10.0e-6
    h_offset: 5.0e-6
    cleaning_cross_section: false
  Fiducial:
    height: 10.0e-6
    width: 1.0e-6
    depth: 5.0e-6
    rotation: 45.0
    cleaning_cross_section: false
  ArrayPattern:
    height: 2.0e-6
    width: 2.0e-6
    depth: 5.0e-6
    n_columns: 5
    n_rows: 5
    pitch_vertical: 5.0e-6
    pitch_horizontal: 5.0e-6
    rotation: 0.0
    passes: 1
    scan_direction: "ToptoBottom"
  MicroExpansion:
    height: 10.0e-6
    width: 2.0e-6
    depth: 5.0e-6
    distance: 10.0e-6
  WaffleNotch: 
    vheight: 10.0e-6
    vwidth: 1.0e-6
    hwidth: 10.0e-6
    hheight: 1.0e-6
    depth: 5.0e-6
    distance: 10.0e-6
  Clover:
    radius: 10.0e-6
    depth: 5.0e-6
  TriForce:
    height: 10.0e-6
    width: 1.0e-6
    depth: 5.0e-6 
  BitmapPattern:
    width: 10.0e-6
    height: 10.0e-6
    depth: 1.0e-6
    rotation: 0.0
    path: 

  Annulus:
    thickness: 2.0e-6
    radius: 10.0e-6
    depth: 1.0e-6  
  Trapezoid:
    inner_width: 10.0e-6
    outer_width: 20.0e-6
    trench_height: 5.0e-6
    depth: 1.0e-6
    distance: 1.0e-6
    n_rectangles: 10
    overlap: 0.0
    scan_direction: "ToptoBottom"
    type: "Trapezoid"
  