apply_settings_on_startup: false
connect_to_microscope_on_startup: false
load_positions_on_startup: false
model:
    electron:
        enabled: true
    gis:
        enabled: true
        multichem: true
    ion:
        enabled: true
        plasma: true 
    manipulator:
        enabled: true
        positions:
            calibrated: false
            parking:
                x: -0.008918395
                y: 0.0006548000000000001
                z: -0.004848865
            standby:
                x: 0.0
                y: 0.0
                z: 0.00545
            working:
                x: 0.0
                y: 0.0
                z: 0.00585
        rotation: true
        tilt: false
    stage:
        enabled: true
        rotation: true
        tilt: true
system:
    description: test
    electron:
        current: 50.0e-12
        detector_mode: SecondaryElectrons
        detector_type: ETD
        eucentric_height: 0.0039
        voltage: 2000
    id: '123'
    ion:
        current: 2.0000000000000002e-11
        detector_mode: SecondaryElectrons
        detector_type: ETD
        eucentric_height: 0.0165
        plasma_gas: Argon
        voltage: 30000
    ip_address: localhost
    manufacturer: Demo
    name: S8252G
    stage:
        needle_stage_height_limit: 0.0037
        pre_tilt: 35.0
        rotation_flat_to_electron: 49.0
        rotation_flat_to_ion: 229.0
        tilt_flat_to_electron: 0.0
        tilt_flat_to_ion: 52.0
    version: 0.2.1a1
user:
    imaging:
        autocontrast: true
        beam_type: ELECTRON
        dwell_time: 1.0e-06
        gamma: false
        hfw: 0.00015
        imaging_current: 2.0000000000000002e-11
        resolution:
        - 1536
        - 1024
        save: false
    milling:
        dwell_time: 1.0e-06
        milling_current: 2.0e-09
        rate: 3.0000000000000004e-09
        spot_size: 5.0000000000000004e-08
        preset: "30 keV; 20 nA"
